#page-contents-block {
    display: flex;
    flex-direction: row;
}
#left-block {
    padding: 20px;
}
#images-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#log {
    background-color: black;
    color: #cccccc;
    font-family: monospace, serif;
    font-size: 8pt;
    height: 200px;
}